*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body{
    font-family: 'Open Sans', sans-serif;
}
/*-----------Header---------------------------------------*/
/*header{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    height: 40rem;
    line-height: 8rem;
    font-family: 'Amatic SC', cursive;
    color: ghostwhite;
    text-shadow: 1px 1px 1px black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../img/klavi_bg_optimized.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}


header h1{
    font-size: 6rem;
 }
 header h3{
    font-size: 4rem;
 }

 span{
    display: none;
}


/*-----------Navbar---------------------------------------*/


/*nav {
    width: 100%;
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.822);
    color: ghostwhite;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 5rem 0 2rem 0; */
    font-family: 'Amatic SC', cursive;
    
 }
 nav ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0 2rem 0 2rem;
 }
 nav a{
     text-decoration: none;
     color: ghostwhite;
     font-size: 1.9rem;
     text-shadow: 1px 1px 1px black;
     font-weight: bold;
     letter-spacing: .2rem;
 }

/*-----------Main---------------------------------------*/


 main{
    height: 50rem;
    background-color:chartreuse;
 }

/*-----------About---------------------------------------*/


 #about {
    background-color: black;
    color: ghostwhite;
    text-shadow: 1px 1px black;
    height: auto;
    
    
 }


#about h4, h3 {
    font-family: 'Amatic SC', cursive;
 }

 #about h4 {
    font-size: 2.9rem ;
    text-align: start;
    width: 100%;
    margin: 1rem 0 1rem 0;
 }

 #about h3 {
    font-size: 2.2rem ;
    margin: 2rem 0 4rem 0;
    text-align: center;
 }

 .aboutImage{
   display: flex;
   justify-content: center;
   padding: 2rem;
 


 }

.aboutImage img{
     width: 100%;
     max-width: 450px;
     height: auto;
     border-radius: 15px;
 } */

 .aboutText{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    line-height: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    width: 50%;
 }

 .aboutText p{
     font-size: 1.5rem;
 }

 .aboutFirstBox{
     display: flex;
     justify-content: center;
     gap: rem;
     padding-top: 4rem;
 }

 .skills{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    padding-bottom: 4rem;
 }
 .skills p {
     font-size: 1.5rem;
 }

 .skills img {
     width: 80px;
     height: auto;
 }

 .gitLink{
    text-align: center;
    font-size: 1.9rem;
    padding-bottom: 2rem;
 }


 .gitLink a {
     text-decoration: none;
     color: ghostwhite;
     font-weight: bold;
     font-size: 1.9rem;
 }

 .gitLink a:hover{
     cursor: pointer;
     text-decoration: underline;
     color: rgba(248, 248, 255, 0.582);
 }

 
 
 